/* header.css */
header {
    padding: 20px 0;
    background: linear-gradient(135deg, var(--teal-color), var(--dark-teal-color));
    animation: fadeIn 2s ease-in;
}

h1 {
    font-size: 3rem;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

